@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'),
       url('Slabo27px-Regular.woff2') format('woff2'),
       url('Slabo27px-Regular.ttf') format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html {
    font-family: 'Slabo 27px', serif;
}

.logo {
    margin-top: 50px;
    font-size: 48pt;
}

.hcenter {
    text-align: center;
    text-indent: 0px;
}

.content {
    font-size: 14pt;
    max-width: 550px;
    margin: 0 auto;
}

p {
    text-indent: 25px;
}
