@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'),
       url('Slabo27px-Regular.ttf') format('truetype'),
       url('Slabo27px-Regular.woff2') format('woff2');
}

html {
    font-family: 'Slabo 27px', serif;
}

.logo {
    margin-top: 50px;
    font-size: 48pt;
}

.hcenter {
    text-align: center;
    text-indent: 0px;
}

.content {
    font-size: 14pt;
    max-width: 550px;
    margin: 0 auto;
}

p {
    text-indent: 25px;
}
